<html>
<head>
  <title>Movie Review</title>
  <link href="/static/styles.css" rel="stylesheet"/>
</head>
<body>
  <h2 class="heading">MOVIE DATABASE</h2>
  <form action="/" method="post">
    <label for="movie">Enter movie Name</label>
    <input type="text" name="movie" id="movie" size="50" autocomplete="off"/>
    <label for="plot">Plot</label>
    <select name="plot">
      <option value="short">Short</option>
   <option value="full">Full</option>
      </select>
      <div style="padding-top:20px;">
    <input type="submit" value="SUBMIT" style="width: 10em;  height: 2em;"></div>
    </form>
</body>
</html>
